[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
faker = "*"
flask = "*"
marshmallow = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
marshmallow-enum = "*"
flask-testing = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
